/** CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f1f1;
}

/*******************TODO LAYOUT *************************/

.wrapper {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    flex-shrink: 0;

    background-color: #f0f1f1;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.layout {
    display: flex;
    flex-grow: 1;
    overflow: auto;

    
}

nav {
    width: 70px;
    flex-shrink: 0;
    
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    background-position: center;
    background-size: cover;
}

main, nav {
    padding-top: 70px;
}

main {
    overflow: auto;
    flex-grow: 1;
}

/*TODO ***************************************************/

/*? HEADER */

.header-h {
    height: 50px;
    margin-top: 10px;
    background-color: white;
}

header img.logo-mobile {
    height: 50px;
    margin-right: 20px;
}
/** Searchbar*/
button {
    border: 0px;
    background-color: lightgray;
    border-radius: 10px 0 0 10px;

    padding-left: 10px;
}

[type="text"] {
    height: 40px;
    background-color: lightgray;
    border-radius: 0 10px 10px 0;
    border: 0px;
    width: 600px; /*! larghezza casuale da sistemare */

    padding-left: 10px;
}


/*? MAIN */ 

.header-main {
    background-color: #1b72e8;
    
    height: 300px; /* di costruzione*/ 
}