/** CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

/*******************? LAYOUT *************************/

.wrapper {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    flex-shrink: 0;
    background-color: white;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.layout {
    display: flex;
    flex-grow: 1;
    overflow: auto;

    background-color: aqua;
}

nav {
    width: 70px;
    flex-shrink: 0;
    
    background-color: black;
}

main, nav {
    padding-top: 70px;
}

main {
    overflow: auto;
}

/*? ***************************************************/