/** CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** General */

body {
    background-color: #f0f1f1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*! FONT SIZE DA CENTRALIZZARE */

/*******************TODO LAYOUT *************************/


.wrapper {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    flex-shrink: 0;

    background-color: #f0f1f1;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.layout {
    display: flex;
    flex-grow: 1;
    overflow: auto;

    
}

nav {
    width: 70px;
    flex-shrink: 0;
    
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    background-position: center;
    background-size: cover;
}

main, nav {
    padding-top: 70px;
}

main {
    overflow: auto;
    flex-grow: 1;
}


/*TODO ***************************************************/

/*? HEADER **************************************/

.header-h {
    height: 50px;
    margin-top: 10px;
    background-color: white;
}

header img.logo-mobile {
    height: 50px;
    margin-right: 20px;
}

header img.logo-desktop {
    height: 30px;
    margin-right: 20px;
}

/** Searchbar*/
.custom-btn {
    background-color: lightgray;
    border-radius: 10px 0 0 10px;
    border: 0;

    padding-left: 10px;
}

[type="search"] {
    height: 40px;
    background-color: lightgray;
    border-radius: 0 10px 10px 0;
    border: 0;
    
    
    padding-left: 10px;
}


/** Icon*/

.header-right {
    line-height: 50px;
    vertical-align: middle;
}

.icons-header a {
    color: #5b5858;
}

.btn.custom-bell {
    padding: 0;
    border: 0;

    position: relative;
    bottom: 2px; /*monnezza*/
}

.text-yellow.fa-bell {
    color: #ff8f00;
}

/*? NAV *********************************************************/
nav {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    text-align: center;
}

.nav-top {
    flex-grow: 1;
}

nav span {
    margin-left: 10px;
}

span.stat {
    margin-left: 15px;
}

.nav-bottom {
    justify-self: end;
}

.bg-hover:hover {
    background-color: rgb(155, 160, 177);
    cursor: pointer;
}

/*? MAIN ***************************************************************/ 

.header-main {
    background-color: #1b72e8;
}

.f-bold {
    font-weight: 600;
}

/** Sezione Nuovo Studente */
.new-student {
    padding-right: 30px; 
}

.fa-square-plus {
    font-size: 40px;
}

#offcanvasRight {
    width: 768px;
}

/** Sezione Pills */
.custom-pills {
    background-color: #165bba;

    font-size: 16px;
    font-weight: 500;
}

/** Sezione Tabella */

.width-col {
    width: 100px;
}

.custom-text-table {
    font-size: 14px;
    font-weight: 600;
}

.logo-class {
    display: inline-block;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;

    background-image: url(img/class-avatar.jpg);
    background-position: center;
    background-size: cover;
}

.btn-icons {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;

    color: #6c757d;
    border: 1px solid #6c757d ;
}


/** Sezione Graphic */

img.graphic {
    width: 100%;
}


/*! *********************************************************/

@media screen and (min-width:992px) {
    nav {
        width: 140px;
        font-size: 16px;
        text-align: left;
    }


}

@media screen and (min-width:1200px) {
    .new-student {
        padding-right: 60px; 
    }
}